@font-face {
	font-family: 'ModeratoA5L';
	src: url('../fonts/moderatoA5_L/moderatoa5_l.eot');
	src: url('../fonts/moderatoA5_L/moderatoa5_l.eot') format('embedded-opentype'),
		 url('../fonts/moderatoA5_L/moderatoa5_l.woff') format('woff'),
		 url('../fonts/moderatoA5_L/moderatoa5_l.ttf') format('truetype'),
		 url('../fonts/moderatoA5_L/moderatoa5_l.svg#ModeratoA5LRegular') format('svg');
		 font-weight: normal;
		 font-style: normal;
}
@font-face {
	font-family: 'ModeratoA5L';
	src: url('../fonts/moderatoA5_L_i/moderatoa5_l_i.eot');
	src: url('../fonts/moderatoA5_L_i/moderatoa5_l_i.eot') format('embedded-opentype'),
		 url('../fonts/moderatoA5_L_i/moderatoa5_l_i.woff') format('woff'),
		 url('../fonts/moderatoA5_L_i/moderatoa5_l_i.ttf') format('truetype'),
		 url('../fonts/moderatoA5_L_i/moderatoa5_l_i.svg#ModeratoA5LItalic') format('svg');
		 font-weight: normal;
		 font-style: italic;
}
@font-face {
	font-family: 'ModeratoG7LRegular';
	src: url('../fonts/moderatoG7_L/moderatog7_l.eot');
	src: url('../fonts/moderatoG7_L/moderatog7_l.eot') format('embedded-opentype'),
		 url('../fonts/moderatoG7_L/moderatog7_l.woff') format('woff'),
		 url('../fonts/moderatoG7_L/moderatog7_l.ttf') format('truetype'),
		 url('../fonts/moderatoG7_L/moderatog7_l.svg#ModeratoG7LRegular') format('svg');
}